#screen-medium-devices {
  display: none;
}

#screen-small {
  display: none;
}

.kube-top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

.kube-line {
  margin-top: -0.2%;
}

.kube-top-nav-left-item {
  float: left;
}

.kube-top-nav-left-item-image {
  float: left;
}

.kube-top-nav-left-item a {
  display: block;
  color: #272727;
  font-family: 'Josefin Sans';
  font-size: 1.2em;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

.kube-top-nav-left-item a:hover {
  color: #D81D4E;
}

.kube-top-nav-left-item-image a {
  display: block;
  color: #272727;
  font-family: 'Josefin Sans';
  font-size: 1.2em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer
}

.kube-top-nav-right-item {
  float: right;
}

.kube-top-nav-right-item a {
  display: block;
  color: #272727;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  text-align: center;
  padding: 39px 16px;
  text-decoration: none;
  cursor: pointer;
}

.kube-top-nav-right-item a:hover {
  display: block;
  color: #272727;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  padding: 39px 16px;
  text-decoration: none;
  cursor: pointer;
}

.kube-issue-story-footer {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  color: #000;
  font-weight: 300;
  cursor: pointer;
}

.kube-logo {
  width: 70px;
}

.kube-tech-card-transition {
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}

.kube-issue-no {
  font-family: 'Josefin Sans', sans-serif;
  color: #326de6;
  font-size: 1.8em;
}

.kube-issue-date {
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-size: 1.8em;
  margin-left: -2%;
}

.kube-issue-date:hover {
  font-family: 'Josefin Sans', sans-serif;
  color: #326de6;
  font-size: 1.8em;
  margin-left: -2%;
  cursor: pointer;
}

.kube-issue-editorial {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
  font-weight: 300;
}

.kube-issue-editorial:hover {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  margin-top: 1%;
  cursor: pointer;
  color: #326de6;
  margin-bottom: 1%;
  text-align: left;
  font-weight: 300;
}

.kube-issue-stories {
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-size: 1.8em;
}

.kube-issue-story-header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6em;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.kube-issue-story-header:hover {
  color: #326de6;
}

.kube-issue-story-author {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  color: #000;
  font-weight: 300;
}

.kube-issue-story-abstract {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  color: #000;
  font-weight: 300;
}

.kube-official-card {
  width: 100%;
  height: 170px;
  margin-bottom: 4%;
  background-color: #f9f9f9;
}

.kube-official-card-header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8em;
  color: #000;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 400;
}

.kube-official-card-emails {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8em;
  color: #000;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 400;
  margin-top: 10%;
}

.kube-official-card-text{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 1.2em;
}

.kube-subscribe-email {
  border: 1px solid #ebebeb;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  padding-left: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  margin-top: 10px;
}

.kube-subscribe-button {
  display: block;
  width: 50%;
  height: 50px;
  text-align: center;
  padding: 14px;
  background-color: #326de6;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em;
  border-radius: .375rem;
  margin-top: 5%;
  cursor: pointer;
}

.kube-header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1.5em;
  margin-bottom: 1%;
}

.kube-inputs {
  width: 90%;
  height: 70px;
  padding: 12px;
  margin-top: 4%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #ebebeb;
}

.kube-input-btn {
  width: 200px;
  height: 50px;
  background-color: #326de6;
  color: #fff;
  padding: 12px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  margin-top: 8%;
  cursor: pointer;
  border-radius: .375rem;
  margin-bottom: 5%;
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

@-o-keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #f9f9f9;
  color: #000;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 10px;
  font-size: 1.3em;
  font-weight: 400;
  font-family: 'Josefin Sans';
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;} 
  to {top: 10px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 10px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 10px; opacity: 1;} 
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 10px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@media only screen and (min-width:900px) and (max-device-width: 990px) {
  #screen-medium-devices {
    display: block;
  }

  #screen-large-devices {
    display: none;
  }

  #screen-small {
    display: none;
  }
}

@media only screen and (min-width:800px) and (max-device-width: 890px) {
  #screen-medium-devices {
    display: block;
  }

  #screen-large-devices {
    display: none;
  }

  #screen-small {
    display: none;
  }
}

@media only screen and (min-width:700px) and (max-device-width: 790px) {
  #screen-medium-devices {
    display: block;
  }

  #screen-large-devices {
    display: none;
  }

  #screen-small {
    display: none;
  }

  #screen-small {
    display: none;
  }
}

@media only screen and (min-width:600px) and (max-device-width: 690px) {
  #screen-medium-devices {
    display: block;
  }

  #screen-large-devices {
    display: none;
  }

  #screen-small {
    display: none;
  }
}

@media only screen and (min-width:500px) and (max-device-width: 590px) {
  #screen-medium-devices {
    display: block;
  }

  #screen-large-devices {
    display: none;
  }

  #screen-small {
    display: none;
  }
}

@media only screen and (min-width:400px) and (max-device-width: 490px) {
  #screen-medium-devices {
    display: block;
  }

  #screen-large-devices {
    display: none;
  }

  #screen-large {
    display: none;
  }

  #screen-small {
    display: block;
  }

  .kube-small-nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    padding: 12px;
    cursor: pointer;
  }

  .kube-logo {
    width: 30px;
    margin-top: 2%;
  }

  .kube-issue-date {
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    font-size: 1.8em;
    margin-left: 1%;
  }

  .kube-top-nav-left-item {
    float: left;
  }
  
  .kube-top-nav-left-item-image {
    float: left;
  }
  
  .kube-top-nav-left-item a {
    display: block;
    color: #272727;
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    text-align: center;
    font-weight: 300;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  .kube-top-nav-left-item a:hover {
    font-weight: 400; 
  }
  
  .kube-top-nav-left-item-image a {
    display: block;
    color: #272727;
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer
  }

  .kube-top-nav {
    list-style-type: none;
    margin-left: -5%;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    width: 106%;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  }

  .kube-line {
    margin-top: 20%;
    width: 100;
    border-color: #fff;
  }
}

@media only screen and (min-width:340px) and (max-device-width: 390px) {
  #screen-medium-devices {
    display: block;
  }

  #screen-large-devices {
    display: none;
  }

  #screen-large {
    display: none;
  }

  #screen-small {
    display: block;
  }

  .kube-small-nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    padding: 12px;
    cursor: pointer;
  }

  .kube-logo {
    width: 30px;
    margin-top: 2%;
  }

  .kube-issue-date {
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    font-size: 1.8em;
    margin-left: 1%;
  }

  .kube-top-nav-left-item {
    float: left;
  }
  
  .kube-top-nav-left-item-image {
    float: left;
  }
  
  .kube-top-nav-left-item a {
    display: block;
    color: #272727;
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  .kube-top-nav-left-item a:hover {
    font-weight: 400;
  }
  
  .kube-top-nav-left-item-image a {
    display: block;
    color: #272727;
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer
  }

  .kube-top-nav {
    list-style-type: none;
    margin-left: -5%;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    width: 106%;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  }

  .kube-line {
    margin-top: 20%;
    width: 100;
    border-color: #fff;
  }
}

@media only screen and (min-width:300px) and (max-device-width: 339px) {
  #screen-medium-devices {
    display: block;
  }

  #screen-large-devices {
    display: none;
  }

  #screen-large {
    display: none;
  }

  #screen-small {
    display: block;
  }

  .kube-small-nav {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    padding: 12px;
    cursor: pointer;
  }

  .kube-logo {
    width: 30px;
    margin-top: 2%;
  }

  .kube-issue-date {
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    font-size: 1.8em;
    margin-left: 1%;
  }

  .kube-top-nav-left-item {
    float: left;
  }
  
  .kube-top-nav-left-item-image {
    float: left;
  }
  
  .kube-top-nav-left-item a {
    display: block;
    color: #272727;
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
  }
  
  .kube-top-nav-left-item a:hover {
    font-weight: 400;
  }
  
  .kube-top-nav-left-item-image a {
    display: block;
    color: #272727;
    font-family: 'Josefin Sans';
    font-size: 1.2em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer
  }

  .kube-top-nav {
    list-style-type: none;
    margin-left: -5%;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    z-index: 999;
    width: 106%;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  }

  .kube-line {
    margin-top: 20%;
    width: 100;
    border-color: #fff;
  }
}